RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^escorts/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/profile,([0-9]+) modules/escorts/index.php?op=profile&fct=escort&pid=$3 [L,NC,QSA]
RewriteRule ^escorts/ modules/escorts/index.php [L,NC,QSA]
RewriteRule ^escorts modules/escorts/index.php [L,NC,QSA]

RewriteRule ^view.tag.php?([0-9]+)$ modules/tag/view.tag.php?tag=$1

